@import './variables';

#contact{
    background-image: linear-gradient(rgba($color-black, 0.767), rgba($color-black, 0.322)), linear-gradient(rgba(66, 218, 238, 0.575),rgba(83, 255, 135, 0.699) ),
                       url('../images/forest.jpg') ;
    background-size: cover;
    padding: 0.8rem;
  
    form{
      padding: 3rem;
       div{
        padding-top: 0.1rem;
        label{
            margin: 1rem;
            font-size: 1.5rem;
            color: $color-white;
            margin-left: 2rem;
          }
        #name{
            margin: 1rem;
            margin-left: 3.5rem;
            color: $color-white;
            background-color: rgba(8, 8, 8, 0.774);
            padding: 0.2rem 0.8rem;
            border: none;
            border-bottom: 2px solid rgb(0, 81, 255);
          }
        #email{
            margin: 1rem;
            margin-left: 3.5rem;
            color: $color-white;
            background-color: rgba(8, 8, 8, 0.774);
            padding: 0.2rem 0.8rem;
            border: none;
            border-bottom: 2px solid rgb(43, 255, 0);
          }
        #review{
            margin: 1rem;
            margin-left: 8rem;
            color: $color-white;
            background-color: rgba(8, 8, 8, 0.774);
            padding: 0.2rem 0.8rem;
            border: none;
            border-bottom: 2px solid rgb(255, 0, 0);
          }
        
        #submit{
            padding: 0.3rem 2rem;
            margin-left: 19rem;
            border-radius: 3rem;
            color: $color-white;
            border: none;
            background-color: black;
            border: 2px solid $color-white;
            transform: translateX(-50%);
            cursor: pointer;
            transition: all 1s ease;
          }
  
       #submit:hover{
           color: $color-black;
           background-color: $color-white;
           border: 2px solid $color-black;
       }
      
        
  
        }
    }
  }