@import "./variables";

#education{
    background: url("../images/aurora.jpg");
    background-size: cover;
    background-position: center;
    .schools{
        padding: 2rem;
        display: flex;
        flex-direction: row;
        height: 90%;

        @include respond(phone){
            width: 90%;
            flex-direction: column;
        }
        @include respond(iphone-land){
            width: 90%;
            flex-direction: column;
        }

        .card{
            background: rgba(36, 35, 35, 0.856);
            border: 1px solid white;
            width: 30vw;
            height: 96%;
            padding: 1rem;
            margin: 1.3rem;
            text-align: center;
            position: relative;
            border-radius: 5px;
            animation: wiggle 1s ease infinite;
            
            @include respond(phone){
                height: 35vh;
                width: 80%;
                left: 80px;
            }
            @include respond(mobile){
                height: 40vh;
                width: 70%;
                left: 70px;
            }

            @include respond(iphone){
                height: 45vh;
                width: 90%;
                left: 20px;
            }
            @include respond(iphone-land){
                height: 80vh;
                width: 80%;
                left: 70px;
            }

            .card-img{
                width: 30%;
                height: 30%;
                border-radius: 50%;
            }
            .school-name{
                color: white;
                padding: 0.3rem;
                margin: 0.2rem;
                font-size: 2rem;
            }
            .description{
                color: rgb(14, 14, 14);
                text-align: justify;
                font-size: 1.2rem;
                padding: 0.3rem;
                margin: 0.2rem;
                padding-bottom: 2rem;
                border: 1px solid white;
                background-color: rgba(245, 245, 245, 0.301);
                
                @include respond(phone){
                    font-size: 1.5rem;
                }
            }
            .visit-link{
                position: absolute;
                text-decoration: none;
                bottom: 1rem;
                left: 50%;
                transform: translate(-50%, 0);
                padding: 0.3rem;
                font-size: 1.2rem;
                border: 1px solid white;
                color: white;
                border-radius: 3px;
                transition: all 1s ease;
            }
            .visit-link:hover{
                color: rgb(36, 229, 255);
                background-color: black;
            }
        }
        .middle-school{
            transition: all 1s ease 0.2s;
            filter: brightness(70%) blur(2px);
        }
        .middle-school:hover{
            filter: brightness(100%) blur(0px);
            animation: none;
            transform: translate(0,-10px);
        }
        
        .high-school{
            transition: all 1s ease 0.2s;
            filter: brightness(70%) blur(2px);
        }
        .high-school:hover{
            filter: brightness(100%) blur(0px);
            animation: none;
            transform: translate(0,-10px);
        }
        .university{
            transition: all 1s ease 0.2s;
            filter: brightness(70%) blur(2px);
        }
        .university:hover{
            filter: brightness(100%) blur(0px);
            animation: none;
            transform: translate(0,-10px);
        }

        @keyframes wiggle{
            0%{
                transform: rotateZ(-2deg);
            }
            50%{
                transform: rotateZ(2deg);
            }
            100%{
                transform: rotateZ(-2deg);
            }
        }
    }
}