@import "./variables";

#project{
    background:  linear-gradient(rgba(199, 217, 223, 0.719), rgba(0, 75, 50, 0.884));
    .project-cards{
        display: grid;
        padding: 1rem;
        margin-top: 3rem;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 56% 44%;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;

        @include respond(phone){
            grid-template-columns: 15% 70% 15%;
            grid-template-rows: 40vh 40vh 40vh 40vh 40vh 40vh;
        }
        @include respond(iphone){
            grid-template-columns: 5% 90% 5%;
            grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh;
        }
        @include respond(iphone-land){
            grid-template-columns: 5% 90% 5%;
            grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh;
        }

        .project-card{
            text-align: center;
            background-color: rgba(0, 0, 0, 0.747);
            color: rgba(255, 255, 255, 0.808);
            position: relative;
            border-radius: 1rem;
            margin: 1rem;
            border-bottom: 0.3rem solid white;
    
            .shutter{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(1, 50, 82, 0.952);
                transition: all 1s ease ;
                border-radius: 1rem;
                text-align: center;
            }

            .project-title{
                margin: 3rem 0rem;
                font-size: 2rem;
            }
            .project-description{
                padding: 1rem;
                margin: 1rem;
                margin-bottom: 3rem;
                text-align: left;
                border: 1px solid white;
                font-size: 1.2rem;
                a{
                    text-decoration: none;
                    color: rgb(0, 162, 255);
                    transition: all 1s ease;
                }
                a:hover{
                    font-size: 1.4rem;
                    color: rgb(14, 172, 111);
                }
                @include respond(mobile){
                    font-size: 1.4rem;
                }
                @include respond(iphone-land){
                    font-size: 1.45rem;
                }
            }
            .project-langs{
                border: 1px solid white;
                text-align: left;
                margin: 1rem;
                background-color: white;
                color: black;
                border-radius: 0.5rem;
                padding: 0.5rem;
                font-size: 1.2rem;
            }
        }

        #project1{
            grid-area: 1/1/2/2;
            @include respond(phone){
                grid-row: 1/2;
                grid-column: 2/3;
            }
            @include respond(iphone-land){
                grid-row: 1/2;
                grid-column: 2/3;
            }
        }
        #project2{
            grid-area: 1/2/2/3;
            @include respond(phone){
                grid-row: 2/3;
                grid-column: 2/3;
            }
            @include respond(iphone-land){
                grid-row: 2/2;
                grid-column: 2/3;
            }
        }
        #project3{
            grid-area: 1/3/2/4;
            @include respond(phone){
                grid-row: 3/4;
                grid-column: 2/3;
            }
            @include respond(iphone-land){
                grid-row: 3/4;
                grid-column: 2/3;
            }
        }
        #project4{
            grid-area: 2/1/3/2;
            @include respond(phone){
                grid-row: 4/5;
                grid-column: 2/3;
            }
            @include respond(iphone-land){
                grid-row: 4/5;
                grid-column: 2/3;
            }
        }
        #project5{
            grid-area: 2/2/3/3;
            @include respond(phone){
                grid-row: 5/6;
                grid-column: 2/3;
            }
            @include respond(iphone-land){
                grid-row: 5/6;
                grid-column: 2/3;
            }
        }
        #project6{
            grid-area: 2/3/3/4;
            @include respond(phone){
                grid-row: 6/7;
                grid-column: 2/3;
            }
            @include respond(iphone-land){
                grid-row: 6/7;
                grid-column: 2/3;
            }
        }

        #project1:hover #shutter1{
            height: 0;
        }
        #project2:hover #shutter2{
            height: 0;
        }
        #project3:hover #shutter3{
            height: 0;
        }
        #project4:hover #shutter4{
            height: 0;
        }
        #project5:hover #shutter5{
            height: 0;
        }
        #project6:hover #shutter6{
            height: 0;
        }

        .project-card:hover{
            animation: backchanger 1s infinite;
        }
                
        @keyframes backchanger{
            0%{
            box-shadow: 0 0 5px rgb(124, 218, 255), 
            0 0 15px rgb(124, 218, 255), 
            0 0 35px rgb(124, 218, 255) ;
            }
            20%{
                box-shadow: 0 0 5px rgb(124, 255, 168), 
                0 0 15px rgb(124, 255, 168), 
                0 0 35px rgb(124, 255, 168) ;
            }
            40%{
                box-shadow: 0 0 5px rgb(242, 255, 124), 
                0 0 15px rgb(242, 255, 124), 
                0 0 35px rgb(242, 255, 124) ;
            }
            60%{
                box-shadow: 0 0 5px rgb(255, 133, 124), 
                0 0 15px rgb(255, 133, 124), 
                0 0 35px rgb(255, 133, 124) ;
            }
            80%{
                box-shadow: 0 0 5px rgb(148, 124, 255), 
                0 0 15px rgb(148, 124, 255), 
                0 0 35px rgb(148, 124, 255) ;
            }
            100%{
                box-shadow: 0 0 5px rgb(124, 218, 255), 
                0 0 15px rgb(124, 218, 255), 
                0 0 35px rgb(124, 218, 255) ;
                }
        }

    }
}