$color-white :white;
$color-black: black;

$color-nav-bg: rgba(31, 31, 31, 0.918);
$color-nav-item: rgb(211, 211, 211);
$color-border-nav: rgb(83, 83, 83);


@mixin centralise {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin link{
    a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
    a:hover{
        color: rgba(83, 250, 228, 0.938);
    }
}